* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general */


.container {
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: #0084FD;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
    text-decoration: none;
}

/* nav-bar */
.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
    max-width: 100vw;
}


.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    color: white;
    font-size: 1.5rem;
}


@media screen and (min-width: 811px) {
    .nav-top ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    
    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: .5rem;
    }
    
    .nav-top .btn:hover {
        background-color: lightgray;
    }

    .hamburger {
        display: none;
    }

    /* fine navabr  */



    
}


/* inizio blocchi celesti */


@media screen and (max-width: 810px) {

    .secondocontainer .sopra-box {
        height: 50em;
        /* background-color: saddlebrown; */
    }

    .sopra-box .sopra-sx {
        height: 30.6em;
        flex-direction: column;
        width: 42em;
        display: flex;
        text-align: center;


    }


    .sopra-box .sopra-sx img{
        height: 16em; 
        margin-top: 0.5em;
        margin-left: 0;

    }

    .sopra-box .sopra-sx p {
        margin-left: 10em;
    }

    
    .sopra-box .sopra-dx {
        height: 30.6em;
        flex-direction: column;
        width: 20em;
        display: flex;
        text-align: center;
    }

    .sopra-box .sopra-dx p {
        width: 5em;
        margin-top: 2em;
        margin-left: 7em;
    }

    .secondocontainer .container-sotto {
        /* background-color: green; */
        height: 30em;
        margin-top: -17em ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    .secondocontainer .container-sotto .sotto-uno {
        width: 25em;
        height: 25em;
        margin-top: 2em;
    }

    .secondocontainer .container-sotto .logo {
        margin-top: 1em;
    }

    .secondocontainer .container-sotto h4 {
        margin: 1em;
    }

    .container-sotto .sotto-uno p{
        width: 15em;
        padding-left: 5em;
    }


/* PARTE VIOLA  */


    .violagrosso .container-viola {
        margin-top: 30em;
        display: flex;
        flex-direction: column;
    }

    .violagrosso .container-viola .vio-sx img{
        height: 40em;
        margin: 8em;
    }

    .violagrosso .container-viola .vio-sx h3 {
        margin-left: -1em;
        font-size: 4em;
        width: 15em;
    }

    .container-viola .vio-sx p {
        margin-left: 6em;
        width: 50em;
        text-align: center;
    } 

    .violagrosso .container-viola .blocco-dx-dev {
        height: 60em;
        width: 50em;
        margin-bottom: 3em;
        margin-left: 5em;
    }


    .violagrosso .container-viola .blocco-dx-dev img {
        height: 45em;
        width: 45em;
    }

    .violagrosso .container-viola .blocco-dx-dev h3 {
        text-align: center;
    }

    .violagrosso .container-viola .blocco-dx-dev p {
        text-align: center;
        margin-left: 12em;
        margin-top: 3em;
        width: 30em;
    }

    .violagrosso .container-viola .blocco-dx-dev .freccia {
        margin-left: 25em;
        text-align: center;
        margin-top: 1.5em;
        background-color: #9593e6;
        border-radius: 2em;
        width: 2.5em;
        padding-top: 0.7em;
        height: 2.5em;
    }

    /* PARTE DEI BOX TONDI  */

    .container-box-tondi .box-1-tondo {
        width: 60em;
    }

    .box-1-tondo .immagine-testo-1-box img {
        height: 12em;
        margin-top: 0.2em;
    }

    .under-under-title{
        width: 50em;
        text-align: center;
        margin-left: 5em;
    }

    .box-1-tondo p {
        font-size: 20px;
        text-align: center;
    }


    /* CALENDARIO  */

    .cont-cal-grande .container-calendario{
        height: 80em;

    }   
    
    .cont-cal-grande .container-calendario h2 {
        font-size: 2.5em;
    }

    .cont-cal-grande .container-calendario .primo-box-up {
        width: 40em;
    }










}


/* fine della navbar */

/* inizio secondo container */


.secondocontainer {
    height: 35em;
}


/* parte sopra dei box */

.sopra-box {
    height: 20em;
    margin: 0 auto;
    padding: 0 1rem;
    width: 1000px ;
    display: flex;
    justify-content: center;
}


/* sx */

.sopra-sx {
    background-color:#b5ddff ;
    width: 43em;
    height: 15em;
    border-radius: 1em;
    display: flex;
    margin-top: 2em;
}

.sopra-sx h4 {
    color: #0084FD;
    font-size: 1.5em;
}

.sopra-sx .sx-sx {
    padding: 2em;
}

.sopra-sx .sx-sx p {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15em;
    margin-bottom: 2.5em;
}

.sopra-sx a:hover {
    transition: 2s;
    background-color: blue;
}

.sopra-sx a {
    text-decoration: none;
    color: white;
    background-color: #0084FD;
    border-radius: 1em;
    padding: 1.5em;
}

.sopra-sx img{
    height: 15em;
    margin-left: 3em;
    margin-bottom: -175px;
} 

/* dx */





.sopra-dx{

    height: 15em;
    background-color: #b5ddff;
    width: 15em;
    margin-left: 2em;
    margin-top: 2em;
    border-radius: 1em;
    font-size: 1em;
    text-align: center;
    color: #0084FD;
    display: flex;
    flex-direction: column;

} 

.sopra-dx .code {
    font-size: 3em;
    padding: 0.4em;
    display: flex;
    justify-content: center;
}


.sopra-dx h4{
    padding: 1em;
    display: flex;
    justify-content: center;
} 

.sopra-dx p {
    color: black;
    width: 15em;
} 





/* sotto */

.container-sotto {
    height: 20em;
    margin: 0 auto;
    padding: 0 1rem;
    width: 1000px ;
    display: flex;
    justify-content: space-between;
}


/* 1 */

.sotto-uno{
    margin-top: -2em;
    height: 15em;
    background-color: #b5ddff;
    width: 18em;
    border-radius: 1em;
    font-size: 1em;
    text-align: center;
    color: #0084FD;
    display: flex;
    flex-direction: column;

} 

.sotto-uno .logo {
    font-size: 3em;
    padding: 0.4em;
    display: flex;
    justify-content: center;
}


.sotto-uno h4{
    padding: 1em;
    display: flex;
    justify-content: center;
} 

.sotto-uno p {
    color: black;
    width: 17em;

} */

/* parte viola  */

.violagrosso {
    background-color: #8381e6;
    height: 37em;
}



.container-viola {
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    width: 1000px ;
    display: flex;
    justify-content: center;
    background-color: #9593e6;
}


.vio-sx {
    height: 100%;
    width: 50%;
}



.vio-dx {
    height: 100%;
    width: 25em;
}



.vio-sx img:hover{
    transition: 2s;
    scale: 1.3;
}

.vio-dx:hover{
    transition: 2s;
    scale: 1.05;
}



.vio-sx img {
    height: 14em;
    margin: 5em;
}

.vio-sx h3 {
    color: white;
    padding-left: 4.2em;
}


.vio-sx p {
    color: white;
    padding: 3em;
    margin-left: 2em;
    font-size: 1em;
    width: 20em;
}


.blocco-dx-dev {
    background-color: white;
    height: 24em;
    width: 20em;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}

.blocco-dx-dev img {
    height: 210px;
    width: 210px;
    padding: 2em;
    margin-left: 2.5em;
}

.blocco-dx-dev h3{
    margin-left: 4em;
}


.blocco-dx-dev p{
    margin-left: 3em;
    width: 15em;
    margin-top: 1em;
    font-family: cursive;
}

.freccia {
    background-color: #9593e6;
    margin-left: 9em;
    margin-top: 0.5em;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    text-align: center;
}


/* parte dei loghi tizi tondi */


.container-box-tondi {
    margin: 0 auto;
    padding: 0 1rem;
    height: 55em;
    width: 1000px;
}

.box-title-test {
    display: flex;
    justify-content: center;
    padding: 2em;
    
}

.under-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #9593e6;
}

.under-under-title {
    display: flex;
    justify-content: center;
    padding: 1em;
}


/* clipPath per le immagini */

.box-1-tondo:hover {
    transition: 2s;
    scale: 1.1;
}



.box-1-tondo {
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1em;
    height: 200px;
    max-width: 1000px;
    background-color: #9593e6;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    color: white;
}

.immagine-testo-1-box img {
    height: 10em;
    float: left;
    margin-top: 1em;
    clip-path: circle();
}

.immagine-testo-1-box p {
    float: right;
    margin-top: 3em;
    width: 30em;
}

.immagine-testo-1-box h4 {
    padding: 1em;
    /* margin-left: 9.2em; */
}


/* fine parte delle immagini box  */


.cont-cal-grande {
    background-color: #9593e6;
    height: 55em;
}

.primo-box-up:hover{
    transition: 2s;
    scale: 1.1;
}

.container-calendario {
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    width: 1000px ;
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: #9593e6;
}

.container-calendario h2 {
    padding: 2em;
    display: flex;
    justify-content: center;
    color: white;
}

.cont-cal-up {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}

.primo-box-up {
    height: 20em;
    width: 25%;
    background-color: white;
    border-radius: 1em;
}

.primo-box-up h2 {
    padding: 0.5em;
    color: #9593e6;
    font-size: 2.5em;
    margin-left: -4em;
}

.primo-box-up h3 {
    color: #9593e6;
    margin-left: 1em;
} 


.primo-box-up p{
    padding-left: 1em;
    padding-top: 1em;
}

.primo-box-up .more {
    background-color: #9593e6;
    width: 7em;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 1.5em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.primo-box-up .more:hover {
    transform: scale(1.2);
    transition: 1s;
    background-color: violet;
}



/* parte about us  */

.container-about-us {
    height: 40em;
}


.cont-ubus {
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
    margin-top: 1em;
    max-width: 1000px;
    display: flex;
}

.ubus-left {
    height: 100%;
    width: 40em;
    background-color: white;
    padding: 2em;
}

.ubus-left h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: #9593e6;
    font-size: 2em;
}

.ubus-left p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2em;
    width: 35em;
}


.ubus-right {
    height: 100%;
    position: relative;
    width: 20em;
}

.ubus-right img {
    height: 12em;
    clip-path: circle();
    margin: 4em;
}

.ubus-right h3 {
    color: #9593e6;
    width: 8em;
    margin-left: 3em;
    font-size: 1.5em;
}

.ubus-right p:hover {
    transition: 2s;
    scale: 1.2;
    background-color: #8381e6;
}


.ubus-right p {
    margin-left: 4.5em;
    margin-top: 2em;
    background-color: #9593e6;
    width: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 2em;
    color: white;
}

.virg {
    position: absolute;
    top: 0.5em;
    left: 1.8em;
    color: #9593e6;
    font-size: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* parte finale */

.cont-free {
    background-color: #9593e6;
}

.free {
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1em;
    height: 450px;
    width: 1000px ;
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: #9593e6;
}


.free h5 {
    color: white;
    text-align: center;
    padding-top: 3em;
}

.free h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.free h1 {
    color: rgb(255, 208, 0);
    text-align: center;
    font-size: 3.5em;
}

.free p {
    text-align: center;
    color: white;
    width: 60em;
}

.free .get-started:hover {
    transition: 2s;
    scale: 1.2;
}


.free .get-started {
    background-color: white;
    width: 20em;
    margin-left: 20em;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    color: #9593e6;
}


/* footer  */

.cont-foot{
    background-color: black;
}


.cont-foot-fin {
    background-color: black;
    height: 15em;
    margin: 0 auto;
    padding: 0 1rem;
    height: 15em;
    width: 1000px ;
    display: flex;
    gap: 2em;
    flex-direction: column;
    color: white;
}


.cont-foot-fin p {
    text-align: center;
    padding: 3em;
    display: flex;
    
}

.foot-final {
    text-align: center;

}


.foot-final a {
    color: #9593e6;
}