* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general */
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
    text-decoration: none;
}

/* nav-bar */
.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    color: white;
    font-size: 1.5rem;
}


@media screen and (min-width: 811px) {
    .nav-top ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 70%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    
    .nav-top .btn:hover{
        background-color: salmon;
        color: black;
        border-radius: 20px;
        transition: 2s;
        padding: 1.5em;
    }
    .nav-top .nav-link:hover {
        background-color: white;
        color: black;
        border-radius: 20px;
        transition: 2s;
        padding: 0.1em;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: .5rem;
    }
    
    

    .hamburger {
        display: none;
    }
}

/* fine della navbar */

/* inizio secondo container */


.secondocontainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 30em;
    background-color: green;
}


/* parte sopra dei box */

.sopra-box {
    margin: 0 auto;
    padding: 0 1rem;
    background-color: blue;
    width: 100%;
    height: 40%;
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}


/* sx */

.sopra-sx {
    background-color: yellow;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
}

.sopra-sx h4 {
    color: #0084FD;
}

.sopra-sx .sx-sx {
    padding: 2em;
}

.sopra-sx .sx-sx p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sopra-sx a {
    text-decoration: none;
    color: white;
    background-color: #0084FD;
    border-radius: 1em;
    padding: 0.5em;
}

.sopra-sx img{
    height: 11em;
}

/* dx */

.sopra-dx {
    background-color: aqua;
    width: 40%;
    height: 189px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.sopra-dx .code {
    font-size: 3em;
    text-align: center;
    color: #0084FD;
}


.sopra-dx h4{
    text-align: center;
    color: #0084FD;
    padding: 0.5em;
}

.sopra-dx p {
    font-size: 0.8em;
    padding: 1em;
}


/* sotto */

.container-sotto {
    background-color: blueviolet;
    height: 189px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}


/* 1 */

.sotto-uno{
    height: 189px;
    background-color: #7db1e1;
    width: 30%;
    border-radius: 1em;
    font-size: 1em;
    text-align: center;
    color: #0084FD;
}

.sotto-uno .logo {
    
}