* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general */
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
    text-decoration: none;
}

/* nav-bar */
.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    color: white;
    font-size: 1.5rem;
}


@media screen and (min-width: 811px) {
    .nav-top ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 70%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    
    .nav-top .btn:hover{
        background-color: salmon;
        color: black;
        border-radius: 20px;
        transition: 2s;
        padding: 1.5em;
    }
    .nav-top .nav-link:hover {
        background-color: white;
        color: black;
        border-radius: 20px;
        transition: 2s;
        padding: 0.1em;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: .5rem;
    }
    
    

    .hamburger {
        display: none;
    }
}

/* fine della navbar */

/* inizio secondo container */


.secondocontainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 30em;
    background-color: white;
}


/* parte sopra dei box */

.sopra-box {
    margin: 0 auto;
    padding: 0 1rem;
    background-color: white;
    width: 100%;
    height: 40%;
    margin-top: 1em;
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    gap: 1em;
}


/* sx */

.sopra-sx {
    background-color:#b5ddff ;
    width: 41em;
    height: 100%;
    border-radius: 1em;
    display: flex;
    margin-left: 2em;
}

.sopra-sx h4 {
    color: #0084FD;
}

.sopra-sx .sx-sx {
    padding: 2em;
}

.sopra-sx .sx-sx p {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15em;
}

.sopra-sx a {
    text-decoration: none;
    color: white;
    background-color: #0084FD;
    border-radius: 1em;
    padding: 0.5em;
}

.sopra-sx img{
    height: 11em;
    margin-left: 6em;
    margin-bottom: -175px;
}

/* dx */





.sopra-dx{

    height: 189px;
    background-color: #b5ddff;
    width: 20em;
    border-radius: 1em;
    font-size: 1em;
    text-align: center;
    color: #0084FD;
    display: flex;
    flex-direction: column;

}

.sopra-dx .code {
    font-size: 3em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
}


.sopra-dx h4{
    padding: 1em;
    display: flex;
    justify-content: center;
} 

.sopra-dx p {
    color: black;
    width: 20em;
}





/* sotto */

.container-sotto {
    background-color: white;
    height: 189px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}


/* 1 */

.sotto-uno{
    height: 189px;
    background-color: #b5ddff;
    width: 20em;
    border-radius: 1em;
    font-size: 1em;
    text-align: center;
    color: #0084FD;
    display: flex;
    flex-direction: column;

}

.sotto-uno .logo {
    font-size: 3em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
}


.sotto-uno h4{
    padding: 1em;
    display: flex;
    justify-content: center;
} 

.sotto-uno p {
    color: black;
    width: 20em;

}

/* parte viola  */

.violagrosso {
    background-color: #9593e6;
    max-width: 100%;
}



.container-viola {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 37em;
    background-color: #9593e6;
    display: flex;
    gap: 1em;
}


.vio-sx {
    height: 100%;
    width: 50%;
    background-color: #9593e6;
}



.vio-dx {
    height: 100%;
    width: 50%;
    background-color: #9593e6;
    display: flex;
    justify-content: center;
}

.vio-sx img {
    height: 14em;
    margin: 5em;
}

.vio-sx h3 {
    color: white;
    padding-left: 4.2em;
}


.vio-sx p {
    color: white;
    padding: 3em;
    margin-left: 2em;
    font-size: 1em;
    width: 20em;
}


.blocco-sx-dev {
    background-color: white;
    height: 24em;
    width: 80%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}

.blocco-sx-dev img {
    height: 210px;
    width: 210px;
    padding: 2em;
    margin-left: 2.5em;
}

.blocco-sx-dev h3{
    margin-left: 4em;
}


.blocco-sx-dev p{
    margin-left: 3em;
    width: 15em;
    margin-top: 1em;
    font-family: cursive;
}


/* parte dei loghi tizi tondi */


.container-box-tondi {
    margin: 0 auto;
    padding: 0 1rem;
    height: 55em;
    /* background-color: green; */
}

.box-title-test {
    display: flex;
    justify-content: center;
    padding: 2em;
    
}

.under-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #9593e6;
}

.container-box-tondi p {
    display: flex;
    justify-content: center;
    padding: 1em;
}


/* clipPath per le immagini */

.box-1-tondo {
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1em;
    height: 200px;
    max-width: 1000px;
    background-color: #9593e6;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    color: white;
}

.immagine-testo-1-box img {
    height: 10em;
    float: left;
    margin-top: 1em;
    clip-path: circle();
}

.immagine-testo-1-box p {
    float: right;
    margin-top: 3em;
    width: 30em;
}

.immagine-testo-1-box h4 {
    padding: 7em;
    margin-left: 9.2em;
}


/* fine parte delle immagini box  */


.container-calendario {
    height: 45em;
    background-color: #9593e6;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-calendario h2 {
    padding: 2em;
    display: flex;
    color: white;
    justify-content: center;
}

.cont-cal-up {
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1em;
    height: 250px;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}

.primo-box-up {
    height: 250px;
    width: 25%;
    background-color: white;
    border-radius: 1em;
}

.primo-box-up h2 {
    padding: 0.5em;
    color: #9593e6;
    font-size: 2.5em;
    margin-left: -4em;
}

.primo-box-up h3 {
    color: #9593e6;
    margin-left: 1em;
}

.primo-box-up p{
    width: 15em;
    padding-bottom: 1em;
    font-size: small;
    margin-left: 1.5em;
}

.primo-box-up .more {
    background-color: #9593e6;
    width: 7em;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em;
    margin-left: 1.5em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* parte about us  */

.container-about-us {
    height: 40em;
}


.cont-ubus {
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
    margin-top: 1em;
    max-width: 1000px;
    display: flex;
}

.ubus-left {
    height: 100%;
    width: 40em;
    background-color: white;
    padding: 2em;
}

.ubus-left h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    color: #9593e6;
    font-size: 2em;
}

.ubus-left p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2em;
    width: 35em;
}


.ubus-right {
    height: 100%;
    position: relative;
    width: 20em;
}

.ubus-right img {
    height: 12em;
    clip-path: circle();
    margin: 4em;
}

.ubus-right h3 {
    color: #9593e6;
    width: 8em;
    margin-left: 3em;
    font-size: 1.5em;
}

.ubus-right p {
    margin-left: 4.5em;
    margin-top: 2em;
    background-color: #9593e6;
    width: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 2em;
    color: white;
}

.virg {
    position: absolute;
    top: 0.5em;
    left: 1.8em;
    color: #9593e6;
    font-size: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* parte finale */

.cont-free {
    background-color: #9593e6;
}

.free {
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1em;
    height: 450px;
    width: 1000px ;
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: #9593e6;
}


.free h5 {
    color: white;
    text-align: center;
    padding-top: 3em;
}

.free h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.free h1 {
    color: rgb(255, 208, 0);
    text-align: center;
    font-size: 3.5em;
}

.free p {
    text-align: center;
    color: white;
    width: 60em;
}

.free .get-started {
    background-color: white;
    width: 20em;
    margin-left: 20em;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    color: #9593e6;
}


/* footer  */

.cont-foot{
    background-color: black;
}


.cont-foot-fin {
    background-color: black;
    height: 15em;
    margin: 0 auto;
    padding: 0 1rem;
    height: 15em;
    width: 1000px ;
    display: flex;
    gap: 2em;
    flex-direction: column;
    color: white;
}


.cont-foot-fin p {
    text-align: center;
    padding: 3em;
    display: flex;
    
}

.foot-final {
    text-align: center;

}


.foot-final a {
    color: #9593e6;
}